  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .daism-a{color:black; text-decoration: none;}

  .daism-span{display: inline-block;margin-right: 8px;}

  .daism-nowrap{overflow: hidden;  text-overflow:ellipsis; white-space: nowrap;
  }
  .daism-bg{background-color: #AEAEAF;}

  .daism-body{ background-color: white !important; padding: 10px; }

  .daism-button{ background-color: #6C6CFF !important; }

  .daism-title{border-color:#cacbd2 !important;}

  .daism-title .card-header,.daism-title .modal-header{
    background-color:#cacbd2 !important ; font-weight: bold;
  }

  .daism-color{color: #6c6cff; }

  .daism-foot{background-color:  rgb(245, 246, 252);}

  .daism-tip-body {display: flex; align-items: center;}

  .daism-tip-text {padding-left: 20px; word-wrap: break-word; word-break: break-all; white-space: pre-line;}

  
  .form-control:focus,.btn:focus,.form-select:focus{box-shadow:none !important;}
 
  .accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: transparent !important;
    box-shadow: none !important;
  }

  .accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none !important;
  }
    
  .accordion-button:not(.collapsed)
  {
    border-bottom: 1px solid #E4E8EB !important;
  }

  
  div.dropdown-menu.show {
    background-color:#ffffff !important; 
  }
  
  a.dropdown-item {
    color:  #000000  !important;   

  }

     
.daism-mydao-menu-active >div{
  background-color:#cacbd2 ;
  border-radius: 6px;
}
    
.daism-mydao-menu-activedocs >div{
  background-color:#AEAEAF ;
  border-radius: 6px;
}

.daism-reply-item{background-color: white; padding: 8px 4px 0px 60px; }

.daism-reply-item p{
  margin: 2px !important;
}
/* //------------------------------------------------------------------------ */
.daism-click { cursor: pointer;}
.daism-content{
  background-color: white;
  padding: 10px;
  
}

.daism-noborder {
  border: none;
  outline: none;
  box-sizing: border-box;
}



.daism-iframebox {
  width: 100%;
  aspect-ratio: 3 / 2; /* 宽高比为2:1 */
  background-color: lightblue;
}

/* 右边滑出与屏幕同高的窗口 */
.panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 400px;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.panel.visible {
  transform: translateX(0);
}


.pnavbar { position: relative;padding: 0 !important;background-color: #AEAEAF; }
.pnavactive {background-color: #cacbd2; font-weight: bold;  border-radius: 6px;} 
.pnavbar a {
  color: black ;
  text-decoration: none;
  padding: 5px;
  margin-right:6px;
  font-size:1.2rem;
}
  
.pnavbar a:hover {font-weight: bold; color: black ;}
  
.pfoot{
  background-color: #AEAEAF !important;
}

.pcontent{
  background-color: white;
  padding: 10px;
  
}

.pmenu{
    background-color: white !important;
    padding-bottom: 4px;
    border-bottom: 2px solid gray;
    position: sticky;
    top:'0px'
  }


.wlanguage{
    border-radius: 12px !important;
    margin-top: 6px;
    border: 1px solid gray;
    font-size: 0.8rem !important;
  }

  .wlanguage a {
    font-size:1rem !important;
  }

  .wlanguage a:hover {font-weight: normal !important; }

  