.iadd_tokenlist{cursor: pointer; padding: 6px; border-radius: 12px;}
.iadd_tokenlist:hover{background-color: #E5E2F5;}


.iadd_btn{border-radius: 26px;}
.iadd_btn:hover span{color: white !important;font-weight: bold !important;}

.iadd_find_img{margin-right: -32px; z-index: 999;margin-top: 10px;}
.iadd_find_img:hover{ cursor: pointer;}

.iadd_find_input{
    border-radius: 20px !important;flex:1;padding-left: 40px !important; 
  }
  
.iadd_text{display: inline-block; padding:0 4px;color:'#0D111C';font-size:1.2rem;}

.clearfix{width: 100%;}
.clearfix::after {
  content: "";
  display: block;
  overflow: hidden;
  clear: both;
 }

.sccontent {
  /* width: calc(100% - 340px);  */
  float: right;
  padding-left: 20px;
  padding-top: 0px;
  
}
.sccontentsmall{
  width: calc(100% - 340px);
  /* border: 1px solid yellow; */
}
.sccontentbig{
  /* border: 1px solid rgb(212, 22, 89); */
  width: calc(100% - 40px);
}

.scsidebar {
float: left;
/* width: 340px; */
height:calc(100vh - 62px);
background-color: #f4f4f4;
padding: 20px;
font-size:1.2rem;
overflow-y: auto;
box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
position: sticky;    /*对右边的内容使用粘性定位*/
top: 60px;
}
.scsidebarbig{
  width: 340px;
}
.scsidebarsmall{
  width: 40px;
}

.narrow{
  top:0px;
  position: absolute;
  right: 0px;
}
.scsidebar ul {
list-style: none;
padding: 0;
margin: 0;
}

.scsidebar ul li {
margin-bottom: 10px;
}

.scsidebar ul li a {
text-decoration: none;
color: #333;
padding: 5px 10px;
display: block;
border-radius: 4px;
}

.scsidebar ul li a:hover {
background-color: #ddd;
}

.scsidebar ul li.scli a:hover {
background-color: #ddd;
color: blue;
font-weight: bold;
}
