.wallet_btnClass{
    border-radius: 12px !important;
    margin-left: 16px !important;
}

 .wallet_user{
     width: 24px;height: 24px;
 }
.wallet_user:hover{
    cursor: pointer;
    color: brown;
}

